.page {
  color: #fff;
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100%;
}
section {
  color: #fff;
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100%;
}
h1 {
  display: flex;
  justify-content: center;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s ease;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show {
  opacity: 1;
  filter: blur(0px);
}
