.footer {
  position: fixed;
  left: 25px;
  width: 70px;
  bottom: 8%;
  opacity: 0;
  animation: slide-in-fade-in 1.5s ease forwards;
  animation-delay: 4.5s;
}

@keyframes slide-in-fade-in {
  from {
    opacity: 0;
    /* bottom: -100px; */
  }
  to {
    opacity: 1;
    /* bottom: 8%; */
  }
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  transition: all 2s;
}

nav {
  margin-bottom: 3px;
  text-decoration: none;
  color: #333;
}

nav:hover {
  text-decoration: underline;
}

img {
  height: 1.5rem;
  margin: 0 0.5rem;
  opacity: 0.8;
  transition: opacity 0.5s ease;
}
img:hover {
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
  opacity: 1;
}
