@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

:root {
  --delay-time: 3s;
  --transition-delay: var(--delay-time) !important;
  --animation-delay: var(--delay-time) !important;
  transition-delay: var(--transition-delay);
  animation-delay: var(--animation-delay);
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #242533, #000000);
  /*
  background: linear-gradient(to bottom, #e8e6e6, #49484a);
  background-color: rgb(3, 3, 46); 
  transition: background-color 1s ease-in-out;*/
}

body {
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
}
